<div class="container mt-5">
  <h1>Bem vindo à administração, {{ barbeiro?.nome }}</h1>

  <div class="button-group">
    <button (click)="showSection('appointments')">Agendamentos</button>
    <button (click)="showSection('gallery')">Galeria de Fotos</button>
    <button (click)="showSection('finance')">Finanças</button>
    <button (click)="showSection('reviews')">Avaliações</button>
    <button (click)="showSection('services')">Gerenciar Serviços</button>
    <button (click)="showSection('editProfile')">Editar Perfil</button>
  </div>

  <ng-container *ngIf="currentSection === 'appointments'">
    <h1>Atividades</h1>
  </ng-container>

  <div>
    <ng-container *ngIf="currentSection === 'gallery'">
      <h1>Galeria de Fotos</h1>
      <button type="button" (click)="openModalRegisterImage()">Cadastrar Imagem</button>

      <div *ngIf="galleryItems.length > 0; else noImages">
        <div *ngFor="let item of galleryItems">
          <img [src]="item.imageUrl" alt="Imagem do barbeiro" style="width: 200px; height: 200px;">
          <p>{{ item.comment }}</p>
          <button (click)="deleteImage(item)">Excluir Imagem</button>
        </div>
      </div>

      <ng-template #noImages>
        <p>Nenhuma imagem cadastrada ainda.</p>
      </ng-template>
    </ng-container>
  </div>


  <ng-container *ngIf="currentSection === 'finance'">
    <h1>Finanças</h1>
  </ng-container>

  <ng-container *ngIf="currentSection === 'reviews'">
    <h1>Avaliações</h1>
  </ng-container>


  <ng-container *ngIf="currentSection === 'services'">
    <h3>Serviços</h3>
    <button (click)="openModalRegisterService()">Cadastrar Serviço</button>

    <div *ngIf="registeredServices && registeredServices.length > 0; else noServices">
      <ul>
        <li *ngFor="let service of registeredServices">
          <h4>{{ service.id }}
            <button (click)="openModalEditService(service)">Editar</button>
          </h4>
          <p>Valor: R$ {{ service.price }}</p>
          <p>Duração: {{ service.duration }} minutos</p>
        </li>
      </ul>
    </div>
    <ng-template #noServices>
      <p>Nenhum serviço cadastrado ainda.</p>
    </ng-template>
  </ng-container>

    <ng-container *ngIf="currentSection === 'editProfile'">
    <h1>Editar perfil</h1>

    <form [formGroup]="form" (ngSubmit)="updateProfile()">

      <div>
        <input type="text" placeholder="Nome" formControlName="nome">
        <div *ngIf="form.get('nome')?.invalid && (form.get('nome')?.dirty || form.get('nome')?.touched)">
          <small *ngIf="form.get('nome')?.errors?.['required']">Nome é obrigatório.</small>
        </div>
      </div>

      <div>
        <input type="text" placeholder="Rg" formControlName="rg" mask="00.000.000-00">
        <div *ngIf="form.get('rg')?.invalid && (form.get('rg')?.dirty || form.get('rg')?.touched)">
          <small *ngIf="form.get('rg')?.errors?.['required']">RG é obrigatório.</small>
        </div>
      </div>

      <div>
        <input type="text" placeholder="Cpf" formControlName="cpf" mask="000.000.000-00">
        <div *ngIf="form.get('cpf')?.invalid && (form.get('cpf')?.dirty || form.get('cpf')?.touched)">
          <small *ngIf="form.get('cpf')?.errors?.['required']">CPF é obrigatório.</small>
        </div>
      </div>

      <div>
        <input type="email" placeholder="Email" formControlName="email" />
        <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
          <small *ngIf="form.get('email')?.errors?.['required']">Email é obrigatório.</small>
          <small *ngIf="form.get('email')?.errors?.['email']">Siga o padrão: username&#64;gmail.com</small>
        </div>
      </div>

      <div>
        <input type="text" placeholder="Telefone" formControlName="telefone" mask="(00)00000-0000">
        <div *ngIf="form.get('telefone')?.invalid && (form.get('telefone')?.dirty || form.get('telefone')?.touched)">
          <small *ngIf="form.get('telefone')?.errors?.['required']">Telefone é obrigatório.</small>
        </div>
      </div>

      <div>
        <input type="text" placeholder="Whats" formControlName="whats" mask="(00)00000-0000">
        <div *ngIf="form.get('whats')?.invalid && (form.get('whats')?.dirty || form.get('whats')?.touched)">
          <small *ngIf="form.get('whats')?.errors?.['required']">Whats é obrigatório.</small>
        </div>
      </div>

      <!-- Validações de redes sociais -->
      <div>
        <input type="text" placeholder="Instagram" formControlName="instagram">
        <div *ngIf="form.get('instagram')?.invalid && (form.get('instagram')?.dirty || form.get('instagram')?.touched)">
          <small *ngIf="form.get('instagram')?.errors?.['invalidInstagramUrl']">URL do Instagram é inválida. Deve seguir o formato https://www.instagram.com/SeuUsername/</small>
        </div>
      </div>

      <div>
        <input type="text" placeholder="Facebook" formControlName="facebook">
        <div *ngIf="form.get('facebook')?.invalid && (form.get('facebook')?.dirty || form.get('facebook')?.touched)">
          <small *ngIf="form.get('facebook')?.errors?.['invalidFacebookUrl']">URL do Facebook inválida. Deve seguir o formato https://www.facebook.com/SeuUsername/</small>
        </div>
      </div>

      <div>
        <input type="text" placeholder="TikTok" formControlName="tiktok" />
        <div *ngIf="form.get('tiktok')?.invalid && (form.get('tiktok')?.dirty || form.get('tiktok')?.touched)">
          <small *ngIf="form.get('tiktok')?.errors?.['invalidTiktokUrl']">URL do TikTok inválida. Deve seguir o formato https://www.tiktok.com/&#64;SeuUsername</small>
        </div>
      </div>

      <div>
        <input type="text" placeholder="Twitter" formControlName="twitter">
        <div *ngIf="form.get('twitter')?.invalid && (form.get('twitter')?.dirty || form.get('twitter')?.touched)">
          <small *ngIf="form.get('twitter')?.errors?.['invalidTwitterUrl']">URL do Twitter inválida. Deve seguir o formato https://www.twitter.com/SeuUsername/</small>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid">Atualizar</button>

    </form>

  </ng-container>

</div>
