

<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <div>
    <input type="text" placeholder="name" formControlName="name">
  </div>
  <div>
    <input type="text" placeholder="CPF" formControlName="cpf">
  </div>
  <div>
    <input type="text" placeholder="CNPJ" formControlName="cnpj">
  </div>
  <div>
    <input type="text" placeholder="Inscrição Estadual" formControlName="inscricaoEstadual">
  </div>
  <div>
    <input type="text" placeholder="Nome Fantasia" formControlName="nomeFantasia">
  </div>
  <div>
    <input type="text" placeholder="Razão Social" formControlName="razaoSocial">
  </div>
  <div>
    <input type="text" placeholder="Estado" formControlName="estado">
  </div>
  <div>
    <input type="text" placeholder="Cidade" formControlName="cidade">
  </div>
  <div>
    <input type="text" placeholder="Rua" formControlName="rua">
  </div>
  <div>
    <input type="text" placeholder="Numero" formControlName="numero">
  </div>
  <div>
    <input type="text" placeholder="Contato" formControlName="contato">
  </div>
  <div>
    <input type="text" placeholder="Instagram" formControlName="instagram">
  </div>
  <div>
    <input type="text" placeholder="Facebook" formControlName="facebook">
  </div>

  <div>
    <mat-form-field>
      <mat-label>Comodidades</mat-label>
      <mat-select formControlName="comodidades" multiple>
        <mat-select-trigger>
          {{form.controls['comodidades'].value?.[0] || ''}}
          <span *ngIf="(form.controls['comodidades'].value?.length || 0) > 1" class="example-additional-selection">
            (+{{(form.controls['comodidades'].value?.length || 0) - 1}} {{form.controls['comodidades'].value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let comodidade of comodidadesList" [value]="comodidade">{{comodidade}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div>
    <button type="submit">Cadastrar</button>
  </div>
</form>
