

<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <div>
    <input type="text" placeholder="name" formControlName="name">
  </div>
  <div>
    <input type="text" placeholder="CPF" formControlName="cpf">
  </div>
  <div>
    <input type="text" placeholder="CNPJ" formControlName="cnpj">
  </div>
  <div>
    <input type="text" placeholder="Inscrição Estadual" formControlName="inscricaoEstadual">
  </div>
  <div>
    <input type="text" placeholder="Nome Fantasia" formControlName="nomeFantasia">
  </div>
  <div>
    <input type="text" placeholder="Razão Social" formControlName="razaoSocial">
  </div>
  <div>
    <input type="text" placeholder="Estado" formControlName="estado">
  </div>
  <div>
    <input type="text" placeholder="Cidade" formControlName="cidade">
  </div>
  <div>
    <input type="text" placeholder="Rua" formControlName="rua">
  </div>
  <div>
    <input type="text" placeholder="Numero" formControlName="numero">
  </div>
  <div>
    <input type="text" placeholder="Contato" formControlName="contato">
  </div>
  <div>
    <input type="text" placeholder="Instagram" formControlName="instagram">
  </div>
  <div>
    <input type="text" placeholder="Facebook" formControlName="facebook">
  </div>
  <div>
    <input type="text" placeholder="Comodidades" formControlName="comodidades">
  </div>
  <div>
    <input type="text" placeholder="Serviços" formControlName="servicos">
  </div>

  <div>
    <button type="submit">Sign In</button>
  </div>
</form>
