@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*, body{
  background-color: var(--primary-color);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Nunito Sans', sans-serif;
  color: #FFFFFF;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

input{
  background-color: var(--input-color)
}

input.form-control.form-control-lg{
  border: none;
  outline: none;
  box-shadow: none;
  background-color:  var(--input-color, transparent);
}

.btn-submit{
  color: #FFFFFF;
  background-color: #00A896;
  border-color: transparent;
}

.btn-submit:hover{
  background-color: #09685e;
}

.example-additional-selection {
  font-weight: bold;
  color: #007bff; /* Cor de destaque */
}
