* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile {
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;

  img {
    margin-left: 8px;
    margin-top: -110px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}

.profileSide{
  border-radius: 50%;
  z-index: 10;

  img{
    margin-left: 8px;
    margin-top: -65px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
  }
}

.navbar {
  background-color: #028090;
  position: relative;
  height: 18%;
}

.linhaBranca {
  height: 2px;
  background-color: #ffffff;
  position: relative;
}

@media (min-width: 992px) {
  .profile {
    top: -45px;
    left: 8px;
  }
}

@media (min-width: 1919px) {
  .profile {
    top: -55px;
    left: 8px;
  }
}

// Estilos da Sidebar
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #05465F;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  &.active {
    width: 250px;
  }

  .close-btn {
    position: absolute;
    top: 8px;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer;

    mat-icon {
      font-size: 30px;
    }
  }

  .nav-link {
    padding: 8px 16px;
    text-align: left;
    color: white;
    font-size: 18px;

    mat-icon {
      margin-right: 10px;
    }

    &:hover {
      /*background-color: #053a4e;*/
      cursor: pointer;
    }
  }
}

// Overlay escura que aparece com a sidebar
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.logout{
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.btn:focus{ outline: none; border-color: none;}

