<div class="row min-vh-100 g-0">
  <div class="d-flex flex-column justify-content-between altura position-relative" style="background-color: #028090;">
    <div class="col-lg-6 d-flex justify-content-center align-items-center m-0 p-0 order-md-1 w-100 altura">
      <img class="bg-holder py-3 px-md-5" src="/assets/Logo_barb.svg" alt="Logo"/>
        <div class="position-absolute bottom-0 end-0 p-3 bg-holder">
          <a href="/register-barbearia" class="text-white bg-holder">Quer cadastrar sua barbearia?</a>
        </div>
        <div class="w-100 linhaBranca"></div>
      </div>
  </div>

</div>
<p>initial-page </p>

<button class="btn btn-primary" type="button" (click)="openModalFilter()">Filtro</button>
<button> Limpar </button>
<button type="button" routerLink="register-barbearia">Cadastrar barbearia </button>
