@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    background-color: var(--primary-color);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
}

.bg-holder{
  background-color: #028090;
}
