.container-fluid{
  width: 100%;
  min-height: 100vh;
  background-color: #05465F;
}

.imgBarber {
  height: 200px;
  width: 200px;
  object-fit: fill;
}
.btnContent {
  border-radius: 15px;
  margin-right: 1px;
  padding: 3px 15px;
  background-color: #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btnContent.active, .btnContent:hover {
  background-color: #a9a9a9;
  color: #000000;
  border: none;
}

.line {
  height: 1px;
  border-radius: 100%;
  background-color: #d3d3d3;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

.imgContent {
  margin-bottom: 15px;
  background-color: #055574;
  border-radius: 100%;
  object-fit: contain;
}

.card, .card-body, .card-title, .card-text, li, span {
  background-color: #D9D9D9;
}

.card-title, span {
  font-size: 20px;
  text-align: center;
}

.card-text {
  font-size: 18px;
  text-align: justify;
}

.liService {
  font-weight: bold;
  padding-left: 15px;
  text-align: left;
}

h1{
  color: #d3d3d3;
  font-size: 32px;
}

@media (min-width: 992px) {
  .row {
    gap: 1px; // Ajuste a distância entre as imagens
  }
}


.title{
  color: #FFFFFF;
  font-size: 28px;
  padding: 3px;
}

.gallery-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
  }

  .gallery-header {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    button {
      background-color: #D9D9D9;
      color: #000000;
      border: none;
      border-radius: 4px;
      padding: 10px 15px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(184, 184, 184);
      }
    }
  }

  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    justify-content: center;

    .gallery-item {
      flex: 1 1 170px;
      max-width: 250px;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: fill;
        border-radius: 8px;
      }

      .item-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

        p {
          margin: 0;
          font-size: 0.9rem;
          color: #333;
        }

        .delete-button {
          color: #e74c3c;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }

  .no-images-message {
    font-size: 1.2rem;
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
  }
}
