<app-header></app-header>
<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center " style="background-color: #05465F;">
    <img src="" alt="" class="rounded-circle img-fluid imgBarber mt-3">
  </div>

  <h1 class="text-center">{{ barbeiro?.nome }}</h1>

  <div class="button-group d-flex justify-content-center gap-2 mt-4">
    <button class="btn btnContent" (click)="showSection('info')">Tela Inicial</button>
    <button class="btn btnContent" (click)="showSection('gallery')">Galeria de Fotos</button>
    <button class="btn btnContent" (click)="showSection('reviews')">Avaliações</button>
  </div>

  <div class="line mt-2"></div>

  <div class="d-flex justify-content-center gap-1">
    <ng-container *ngIf="currentSection === 'info'">
      <a [href]="'https://wa.me/' + barbeiro?.whats" target="_blank" class="btn">
        <img class="imgContent mt-2 " src="assets/whatsapp-logo.svg" alt="" height="50" width="50">
      </a>
      <div *ngIf="barbeiro?.instagram">
        <a [href]="barbeiro?.instagram" target="_blank" class="btn">
          <img class="imgContent mt-2" src="assets/instagram-logo.svg" alt="" height="50" width="50">
        </a>
      </div>

      <!--<p *ngIf="barbeiro?.facebook">
        <a [href]="barbeiro?.facebook" target="_blank" class="btn">
          <img src="assets/facebook-logo.svg" alt="Facebook" class="imgContent" height="55" width="55">
        </a>
      </p>-->

      <p *ngIf="barbeiro?.tiktok">
        <a [href]="barbeiro?.tiktok" target="_blank" class="btn">
          <img src="assets/tiktok-logo.svg" alt="TikTok" class="imgContent" height="55" width="55">
        </a>
      </p>

      <p *ngIf="barbeiro?.twitter">
        <a [href]="barbeiro?.twitter" target="_blank" class="btn">
          <img src="assets/twitter-logo.svg" alt="Twitter" class="imgContent" height="55" width="55">
        </a>
      </p>

    </ng-container>
  </div>

  <div>
    <ng-container *ngIf="currentSection === 'gallery'">
      <h1 class="text-center mb-4">Galeria de Fotos</h1>

      <div *ngIf="galleryItems.length > 0; else noImages" class="row g-3 justify-content-center">
        <div *ngFor="let item of galleryItems" class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center mb-2 mb-md-3 mb-lg-2">
          <ng-container *ngIf="item.imageUrl">
            <div class="card" style="width: auto;">
              <img [src]="item.imageUrl" alt="Imagem do barbeiro" class="img-fluid card-img-top m-0">
              <div class="card-body text-center">
                <p class="card-text">{{ item.comment }}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <ng-template #noImages>
        <p class="text-center">Nenhuma imagem cadastrada ainda.</p>
      </ng-template>
    </ng-container>
  </div>

</div>
