.container-fluid {
  background-color: #05465F;
}

.imgBarber {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.btnContent {
  border-radius: 15px;
  margin-right: 1px;
  padding: 3px 15px; /* Ajuste uniforme para o padding */
  background-color: #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px; /* Define uma largura mínima para os botões */
}

.line {
  height: 1px;
  border-radius: 100%;
  background-color: #d3d3d3;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

.imgContent {
  margin-bottom: 15px;
  background-color: #055574;
  border-radius: 100%;
  object-fit: contain;
}

.card, .card-body, .card-title, .card-text, li, span {
  background-color: #D9D9D9;
}

.card-title, span {
  font-size: 20px;
  text-align: center;
}

.card-text {
  font-size: 18px;
  text-align: justify;
}

.liService {
  font-weight: bold;
  padding-left: 15px;
  text-align: left;
}

h1{
  color: #d3d3d3;
  font-size: 32px;
}
