<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="onNoClick()">&times;</span>
    <h2>Registrar Imagem</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="file">Escolher Imagem:</label>
        <input type="file" id="file" (change)="onFileSelected($event)" required>
      </div>

      <div>
        <label for="comment">Comentário (até 30 caracteres):</label>
        <input type="text" id="comment" [(ngModel)]="comment" name="comment" maxlength="30" required>
      </div>

      <button type="submit">Registrar</button>
      <button type="button" (click)="onNoClick()">Cancelar</button>
    </form>
  </div>
</div>
