*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #028090;
  position: relative;
  padding: 5px 0; /* Ajusta o padding conforme necessário */
  height: 20%;
}

span{
  font-size: 24px;
  font-weight: 500;
}

.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.services-section {
  background-color: #05465F;
}

hr {
  border: 1px solid #000;
}

button:focus{
  border: #05465F;
}
