<div class="areaModal">
  <div class="navbar">
    <div class="container-fluid d-flex justify-content-start p-3">
      <span>Cadastrar Combos</span>
      <mat-icon class="hover ms-auto" (click)="onCancel()">close</mat-icon>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label>Serviços:</label>

      <div *ngFor="let service of registeredServices" class="d-flex align-items-center justify-content-left">
        <input class="ms-3" type="checkbox" [formControlName]="service.id" (change)="onServiceSelectionChange()" />
        <label class="">{{ service.id }} - Duração: {{ service.duration }} min</label>
      </div>

      <div class="ms-3 text-danger" *ngIf="!anyServiceSelected && form.touched">
        Selecione pelo menos um serviço.
      </div>
    </div>

    <div>
      <label>Valor: </label>
      <input class="form-control" type="text" formControlName="price" placeholder="Preço do combo" />
      <div *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="ms-3 text-danger">
        Preço é obrigatório.
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-1">
      <p>Duração total do combo: {{ totalDuration }} minutos</p>
    </div>

    <div class="button-group container-fluid d-flex justify-content-center mb-2 w-100">
      <button class="btn btnOption col-8 me-1" type="submit" [disabled]="form.invalid || !anyServiceSelected">Cadastrar Combo</button>
      <button class="btn btnOption col-4" type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
