<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="profile">
      <img ngSrc="/src/assets/FtPerfil.svg" alt="Foto de perfil" width="50" height="50" class="img-fluid">
    </div>
    <img ngSrc="/src/assets/Logo_barb.svg" class="img-fluid mx-auto d-block" alt="Logo da barbearia" width="274" height="194" priority>
    <div class="position-absolute bottom-0 end-0 p-3 bg-holder">
      <a class="text-white bg-holder" routerLink="register-barbearia">Cadastrar barbearia</a>
    </div>
  </div>
</nav>

<div class="w-100 linhaBranca"></div>
<div class="bgColor">
  <div class="containerBtn min-vh-100">
    <button class="btn btnFilter ms-3 mt-3" type="button" (click)="openModalFilter()">
      Filtros
      <img ngSrc="/src/assets/FilterIcon.svg" class="filter-icon img-fluid" alt="Ícone de filtro" width="20" height="20">
    </button>
    <button class="btn btnFilter mt-3" type="button">
      Limpar
    </button>

    <div class="row g-3">
      <div *ngFor="let barbearia of barbearias" class="col-md-6 mt-3">
        <!-- Card que redireciona para a página da barbearia -->
        <div class="card pb-2 p-3 ms-3 me-3 d-flex flex-row align-items-center shadow-sm"
             (click)="goToBarbearia(barbearia.id)">
          <img ngSrc="/src/assets/FtPerfil.svg" alt="Foto de perfil" class="rounded-circle me-3 img-fluid" width="50" height="50">
          <div class="itens">
            <p class="mb-1"><strong>Nome:</strong> {{ barbearia.nomeFantasia }}</p>
            <p class="mb-1"><strong>Endereço:</strong> {{ barbearia.estado }}, {{ barbearia.cidade }}, {{ barbearia.rua }}, {{ barbearia.numero }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
