* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
}

.profile {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  z-index: 10;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.linhaBranca {
  height: 2px;
  background-color: #ffffff;
  position: relative;
  z-index: 1000;
}

.banner {
  background-color: #05465F;
  padding: 15px;
  position: relative;
  text-align: center;
  margin-bottom: -0.2rem;

  .image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #b0b0b0;
    border-radius: 10px;
    margin-bottom: 40px;

    .upload-label-banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #2535c2;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 5px 10px;
      line-height: 2;
      border-radius: 4px;
      cursor: pointer;
    }

    .profile-image {
      position: absolute;
      left: 80px;
      bottom: -40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #888080;
      overflow: hidden;

      .upload-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #2535c2;
        background-color: inherit;
        padding: 5px 10px;
        border-radius: inherit;
        cursor: pointer;
      }
    }
  }

  .barbearia-name {
    position: absolute;
    left: 180px;
    bottom: 50px;
    color: #FFFFFF;
    font-size: 16px;
  }

  .btnContent {
    position: relative;
    width: 40px;
    height: 30px;
    margin-bottom: 15px;
    background-color: #055574;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    object-fit: contain;
  }

  button {
    bottom: 28px;
    margin: 0 2px;
  }

  @media (max-width: 768px) {
    .profile-image {
      left: 50%;
      transform: translateX(-50%);
    }
    .barbearia-name {
      left: 140px;
    }
  }

  @media (min-width: 768px) and (max-width: 1400px) {
    .barbearia-name {
      left: 180px;
    }
  }

  @media (max-width: 1400px) {
    .upload-label-banner {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.barbers-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
  flex-wrap: nowrap;
}

.barbers-container::-webkit-scrollbar { overflow-y:hidden; }

.barber-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 390px;
  scroll-snap-align: start;
  justify-content: center;
  margin: 0 auto;
  max-width: 1120px;
}

.imgBarber {
  display: flex;
  align-items: center;
  border-radius: 100%;
  object-fit: fill;
  margin-bottom: 10px;
}

.name-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin: 0 auto;
  left: 100px;
}

.info-btn {
  margin-left: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}


span{
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
}

.bgColor {
  background-color: #05465F;
}

.modalLink {
  display: flex;
  margin: 8px auto 0;
  padding: 2px 15px;
  background-color: #05465F;
  color: #FFFFFF;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
}

button, .btn, .barber-card{
  outline-style: none !important;
  border: none !important;

    &:focus, :hover{
      outline-style: none !important;
      border: none !important;
  }
}

mat-icon{
  padding-top: 2px;
  outline: none;
  box-sizing: border-box;
  :focus{
    outline-style: none !important;
    border: none !important;
    box-sizing: border-box;
  }
