<app-header-admin></app-header-admin>
<!-- Adicionando o banner com a imagem de fundo e a imagem circular sobreposta -->
<div class="container-fluid banner">
  <div class="image-wrapper">
    <input type="file" id="upload-banner" style="display: none;" />
    <label for="upload-banner" class="upload-label-banner">
      <mat-icon style="padding-top: 4px;">upload</mat-icon>Adicionar arquivo
    </label>

    <div class="profile-image">
      <img [ngSrc]="barbearia?.profileImageUrl || 'assets/FtPerfil.svg'" alt="Foto de perfil" width="100" height="100" class="img-fluid">
    </div>
  </div>
  <br>
  <br>
  <div class="barbearia-name">
    <p style="display: inline-block;">{{ barbearia?.nomeFantasia }}
      <mat-icon [ngClass]="{'favorite': isFavorite, 'not-favorite': !isFavorite}" (click)="toggleFavorite()">
        {{ isFavorite ? 'favorite' : 'favorite_border' }}
      </mat-icon>
  </p>
  </div>
  <button class="float-end btn btnContent"> <img class="imgContent " src="assets/whatsapp-logo.svg" alt=""></button>
  <button class="float-end btn btnContent"> <img class="imgContent" src="assets/instagram-logo.svg" alt=""></button>
  <button class="float-end btn btnContent" *ngIf="isAddressValid()" (click)="openGoogleMaps()" target="_blank"> <img class="imgContent" src="assets/maps-logo.svg" alt=""></button>
  <button class="float-end btn btnContent"><img class="imgContent" src="assets/tikTok.svg" width="36" height="22"  alt=""></button>
  <button class="float-end btn btnContent"><img class="imgContent" src="assets/twitter-x.svg" width="36" height="22" alt=""></button>
  <p *ngIf="!isAddressValid()" class="text-danger">Endereço não encontrado. Verifique as informações fornecidas.</p>
</div>

<div class="container-fluid text-center bgColor min-vh-100">
  <div class="barbers-container container-fluid">
    <div class="barber-card" *ngFor="let barber of barbers">
      <button class="btn" [routerLink]="['/barbearia', barbeariaId, 'barber', barber.id]">
        <img [ngSrc]="barber.profileImageUrl || 'assets/FtPerfil.svg'" alt="Foto de perfil" width="200" height="200" class="imgBarber">
      </button>
      <div class="name-info-container">
        <span>{{ barber.nome }}</span>
        <button class="btn" (click)="openModalInfos(barber, $event)"><mat-icon>help</mat-icon></button>
      </div>
    </div>
  </div>
  <p class="text-danger" *ngIf="(barbers.length === 0)">Nenhum barbeiro cadastrado.</p>

  <div class="button">
    <button class="btn btn-lg" (click)="openModalComment()"><mat-icon>comment</mat-icon></button>
  </div>
</div>
