<div class="row min-vh-100 g-0 ">
  <div class="col-12 col-xl-6 col-lg-6 position-relative m-0 p-0 order-md-1">
    <img class="bg-holder py-3 img-fluid px-md-5 z-index" src="/assets/Logo_barb.svg" width="369" height="360" alt="Logo"/>
   </div>
   <div class="col-lg-6 col-md-12 order-md-2">
    <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
      <div class="col col-sm-6 col-lg-7 col-xl-6">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="area-form" novalidate>
          <div class="container">
            <div class="text-center">
              <p class="fw-bold mt-5">Crie sua conta</p>
             </div>
            <div class="row">
              <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="Nome Fantasia" formControlName="nomeFantasia">
                <div *ngIf="form.get('nomeFantasia')?.invalid && (form.get('nomeFantasia')?.dirty || form.get('nomeFantasia')?.touched)">
                  <small *ngIf="form.get('nomeFantasia')?.errors?.['required']" class="text-danger">Nome Fantasia é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="Razão Social" formControlName="razaoSocial">
                <div *ngIf="form.get('razaoSocial')?.invalid && (form.get('razaoSocial')?.dirty || form.get('razaoSocial')?.touched)">
                  <small *ngIf="form.get('razaoSocial')?.errors?.['required']" class="text-danger">Razão Social é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Responsável" formControlName="responsavel">
            </div>
            <div class="container radio-label">
              <div class="text-center">
                <p class="fw-bold">Selecione</p>
              </div>
              <label class="radio-label">
                <input type="radio" formControlName="tipoPessoa" value="PJ" (change)="onTipoPessoaChange('PJ')"> Pessoa Jurídica
              </label> <br>
              <label class="radio-label">
                <input type="radio" formControlName="tipoPessoa" value="PF" (change)="onTipoPessoaChange('PF')"> Pessoa Física
              </label>
            </div>
            <div *ngIf="isPJ">
              <div class="row mb-2">
                <div class="col-lg-7 col-md-12 mb-2">
                  <input type="text" class="form-control" placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00">
                </div>
                <div class="col-lg-5 col-md-5">
                  <input type="text" class="form-control inputSyle form-control-lg" placeholder="Inscrição Estadual" formControlName="inscricaoEstadual">
                    <div *ngIf="form.get('inscricaoEstadual')?.invalid && (form.get('inscricaoEstadual')?.dirty || form.get('inscricaoEstadual')?.touched)">
                      <small *ngIf="form.get('inscricaoEstadual')?.errors?.['required']" class="text-danger">Inscrição Estadual é obrigatória.</small>
                    </div>
                  </div>
              </div>
            </div>
            <div *ngIf="isPF">
              <div class="row mb-2">
                <div class="col-lg-6 col-md-12 mb-2">
                  <input type="text" class="form-control" placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
                </div>
                <div class="col-lg-6 col-md-12">
                  <input type="text" class="form-control" placeholder="RG" formControlName="rg" mask="00.000.000-0">
                  <div *ngIf="form.get('rg')?.invalid && (form.get('rg')?.dirty || form.get('rg')?.touched)">
                    <small *ngIf="form.get('rg')?.errors?.['required']" class="text-danger">RG é obrigatório.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 mb-2">
                <div class="form-group">
                  <label for="estado">UF</label>
                  <select id="estado" class="form-select" (change)="onStateChange($event)" formControlName="estado">
                    <option  value=""></option>
                    <option  *ngFor="let estado of estadosList" [value]="estado.sigla">{{ estado.nome }}</option>
                  </select>
                </div>
              </div>
              <div class="col-6 mb-2">
                <div class="form-group">
                  <label for="cidade">Cidade</label>
                  <select id="cidade" class="form-control" formControlName="cidade">
                    <option *ngFor="let cidade of cidadesList" [value]="cidade.nome">{{ cidade.nome }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-9 mb-2">
                <input type="text" class="form-control" placeholder="Rua" formControlName="rua">
                <div *ngIf="form.get('rua')?.invalid && (form.get('rua')?.dirty || form.get('rua')?.touched)">
                  <small *ngIf="form.get('rua')?.errors?.['required']" class="text-danger">Rua é obrigatória.</small>
                </div>
              </div>
              <div class="col-3 mb-2">
                <input type="text" class="form-control" placeholder="N°" formControlName="numero">
                <div *ngIf="form.get('numero')?.invalid && (form.get('numero')?.dirty || form.get('numero')?.touched)">
                  <small *ngIf="form.get('numero')?.errors?.['required']" class="text-danger">Número é obrigatório.</small>
                  <small *ngIf="form.get('numero')?.errors?.['invalidNumber']" class="text-danger">Só são aceitos números</small>
                </div>
              </div>
          </div>
            <div class="row mb-2">
              <div class="col-12 col-md-12">
                <div class="text-center">
                  <p class="fw-bold">Contato</p>
                </div>
                <input type="email" class="form-control mb-2" placeholder="Email" formControlName="email" />
                <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                  <small *ngIf="form.get('email')?.errors?.['required']" class="text-danger">Email é obrigatório.</small>
                  <small *ngIf="form.get('email')?.errors?.['email']" class="text-danger">siga o padrão: username&#64;gmail.com</small>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6 col-md-6">
                <input type="text" class="form-control" placeholder="Celular" formControlName="celular" mask="(00)00000-0000" />
                <div *ngIf="form.get('celular')?.invalid && (form.get('celular')?.dirty || form.get('celular')?.touched)">
                  <small *ngIf="form.get('celular')?.errors?.['required']" class="text-danger">Número de celular é obrigatório.</small>
                  <small *ngIf="form.get('celular')?.errors?.['invalidContato']" class="text-danger">Formato do contato inválido. Use (xx)xxxxx-xxxx.</small>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <input type="text" class="form-control" placeholder="WhatsApp" formControlName="whats" mask="(00)00000-0000" />
                <div *ngIf="form.get('whats')?.invalid && (form.get('whats')?.dirty || form.get('whats')?.touched)">
                  <small *ngIf="form.get('whats')?.errors?.['required']" class="text-danger">Número do WhatsApp é obrigatório.</small>
                  <small *ngIf="form.get('whats')?.errors?.['invalidContato']" class="text-danger">Formato do contato inválido. Use (xx)xxxxx-xxxx.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <input type="text" class="form-control mb-2" placeholder="Telefone" formControlName="telefone" mask="(00)00000-0000" />
                <div *ngIf="form.get('telefone')?.invalid && (form.get('telefone')?.dirty || form.get('telefone')?.touched)">
                  <small *ngIf="form.get('telefone')?.errors?.['required']" class="text-danger">Número de telefone é obrigatório.</small>
                  <small *ngIf="form.get('telefone')?.errors?.['invalidContato']" class="text-danger">Formato do contato inválido. Use (xx)xxxxx-xxxx.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12">
                <div class="text-center">
                  <p class="fw-bold">Redes Sociais</p>
                </div>
                <input type="text" class="form-control mb-2" placeholder="Instagram" formControlName="instagram">
                <div *ngIf="form.get('instagram')?.invalid && (form.get('instagram')?.dirty || form.get('instagram')?.touched)">
                  <small *ngIf="form.get('instagram')?.errors?.['invalidInstagramUrl']" class="text-danger">O URL do Instagram é inválido. Deve seguir o formato https://www.instagram.com/SeuUsername/</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 mb-2">
                <input type="text" class="form-control" placeholder="Facebook" formControlName="facebook">
                <div *ngIf="form.get('facebook')?.invalid && (form.get('facebook')?.dirty || form.get('facebook')?.touched)">
                  <small *ngIf="form.get('facebook')?.errors?.['invalidFacebookUrl']" class="text-danger">URL do Facebook inválida. Deve seguir o formato https://www.facebook.com/SeuUsername/</small>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 mb-2">
                <input type="text" class="form-control" placeholder="TikTok" formControlName="tiktok" />
                <div *ngIf="form.get('tiktok')?.invalid && (form.get('tiktok')?.dirty || form.get('tiktok')?.touched)">
                  <small *ngIf="form.get('tiktok')?.errors?.['invalidTiktokUrl']" class="text-danger">URL do TikTok inválida. O formato deve ser https://www.tiktok.com/username</small>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 mb-2">
                <input type="text" class="form-control" placeholder="Twitter" formControlName="twitter" />
                <div *ngIf="form.get('twitter')?.invalid && (form.get('twitter')?.dirty || form.get('twitter')?.touched)">
                  <small *ngIf="form.get('twitter')?.errors?.['invalidTwitterUrl']" class="text-danger">URL do Twitter inválida. O formato deve ser https://www.twitter.com/username </small>
                </div>
            </div>
          </div>
            <div class="form-group">
              <mat-form-field class="w-100">
                <mat-label>Comodidades</mat-label>
                <mat-select formControlName="comodidades" multiple class="form-control">
                  <mat-select-trigger class="blueUnderline">
                    {{form.controls['comodidades'].value?.[0] || ''}}
                    <span *ngIf="(form.controls['comodidades'].value?.length || 0) > 1" class="example-additional-selection">
                      (+{{(form.controls['comodidades'].value?.length || 0) - 1}} {{form.controls['comodidades'].value?.length === 2 ? 'outra' : 'outras'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let comodidade of comodidadesList" [value]="comodidade">{{comodidade}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 mb-3">
                <input type="file" class="form-control" placeholder="foto de perfil" formControlName="profileImage" (change)="onFileSelected($event)">
                <div *ngIf="form.get('profileImage')?.invalid && (form.get('profileImage')?.dirty || form.get('profileImage')?.touched)">
                  <small *ngIf="form.get('profileImage')?.errors?.['required']" class="text-danger">foto de perfil é obrigatório.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 mb-4">
                <button
                  class="btn w-100 btnCadastro"
                  type="submit"
                  [disabled]="!form.valid || !isFormValidForSelectedTipoPessoa()">Cadastrar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
   </div>
</div>
