@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  background-color: var(--primary-color);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Nunito Sans', sans-serif;
  color: #FFFFFF;
}

.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: 50%;
  margin-top: 2.5em;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 991px ) {
      position: relative;
      display: flex;
      min-height: 10vh;
      max-height: 19vh;
      margin-top: 0;
      padding-top: 0;
  }
  @media (max-width: 767px) {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 19vh;
  }
}

.area-form{
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.form-field {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: #05465F;

  &:focus-within {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
}

.mat-form-field {
  margin-bottom: 1rem;

}

.mat-select {
  font-size: 1rem;
  padding: 10px;
}

.mat-label {
  color: #555;
  font-weight: bold;
}

mat-form-field {
  width: 100%;

  .mat-form-field-flex {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
  }

  .mat-select {
    padding-left: 0;
  }

  .mat-select-value {
    font-size: 1rem;
    color: #495057;
  }

  .mat-select-placeholder {
    font-size: 1rem;
    color: #6c757d;
  }
}

.mat-form-field {
  width: 100%;
  background-color: #05465F;

  .mat-select {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #05465F;
    border-radius: .25rem;
    font-size: 1rem;
    background-color: #05465F !important;
    box-shadow: none;

    &:focus {
      border-color: #05465F;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  .mat-option {
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #05465F;
  }

  .mat-label {
    font-size: 1rem;
    margin-bottom: .5rem;
    color: #05465F;
  }

  .example-additional-selection {
    font-size: 0.875rem;
    color: #05465F;
    margin-left: 5px;
  }

}

.btnCadastro{
  background-color: #00A896;
  border: #00A896;
}

select, mat-select, mat-select-trigger, mat-option, mat-label{
  background-color: var(--input-color)
}

mat-label{
  border-radius: 3px;
}

input{
  background-color: var(--input-color)
}

input, select, .form-control, .form-control-lg{
border: none;
outline: none;
box-shadow: none;
background-color:  var(--input-color, transparent);
}
