.areaModal{
  background-color: #D9D9D9;
}

.card{
  background-color: #028090;
  border: transparent;
}

.checkbox-control{
  background-color: #007381;
  border-radius: 8px;
}

.form-control{
  background-color: #007381;
  border: transparent;
  box-shadow: 0, 0, 0, 20;
}

label, h4{
  color: #FFFFFF;
}

input, select{
  color: #FFFFFF;

}

input::placeholder{
  color: #FFFFFF;
  font-size: 15px;
}

