<h2 class="text-center areaModal">Gerenciar Agenda</h2>
<form [formGroup]="scheduleForm" class="card p-3 m-2">
  <!-- Dias de Trabalho -->
  <div class="mb-3">
    <h4>Dias de Trabalho</h4>
    <button class="btn btn-primary btn-sm mb-2" (click)="addWorkingDay()" type="button">Adicionar Dia</button>

    <!-- Iteração dos dias cadastrados -->
    <div formArrayName="workingDays" *ngFor="let workingDay of workingDays.controls; let i = index">
      <div [formGroupName]="i" class="row mb-2">
        <!-- Campo Dia -->
        <div class="col-4">
          <label for="daySelect{{ i }}">Dia:</label>
          <select class="form-control" id="daySelect{{ i }}" formControlName="day">
            <option value="" disabled>Selecione o dia</option>
            <option *ngFor="let day of availableDaysOfWeek" [value]="day">{{ day }}</option>
          </select>
        </div>

        <!-- Campo Horário de Início -->
        <div class="col-3">
          <label for="startTime{{ i }}">Início:</label>
          <input class="form-control" id="startTime{{ i }}" type="time" formControlName="startTime" />
        </div>

        <!-- Campo Horário de Fim -->
        <div class="col-3">
          <label for="endTime{{ i }}">Fim:</label>
          <input class="form-control" id="endTime{{ i }}" type="time" formControlName="endTime" />
        </div>

        <!-- Botão Remover Dia -->
        <div class="col-2 d-flex align-items-end">
          <button class="btn btn-danger btn-sm" (click)="removeWorkingDay(i)" type="button">Remover</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Datas Bloqueadas -->
  <div class="mb-3">
    <h4>Datas Bloqueadas</h4>
    <button class="btn btn-primary btn-sm mb-2" (click)="addBlockedDate()" type="button">Adicionar Data</button>

    <!-- Iteração das datas bloqueadas -->
    <div formArrayName="blockedDates" *ngFor="let blockedDate of blockedDates.controls; let i = index">
      <div class="row mb-2">
        <div class="col-10">
          <label for="blockedDate{{ i }}">Data:</label>
          <input class="form-control" id="blockedDate{{ i }}" type="date" [formControlName]="i" />
        </div>
        <div class="col-2 d-flex align-items-end">
          <button class="btn btn-danger btn-sm" (click)="removeBlockedDate(i)" type="button">Remover</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Botão Salvar -->
  <button class="btn btn-success" (click)="saveSchedule()" type="button">Salvar</button>
</form>
