<div class="container">
  <h2 class="title">Agendamento de Serviço</h2>
  <div class="date-picker">
    <label for="date">Selecione a Data:</label>
    <input type="date" id="date" [value]="todayString" [min]="todayString" (change)="onDateChange($event)">
  </div>

  <div *ngIf="availableTimes.length > 0" class="available-times">
    <h3 class="subtitle">Horários Disponíveis:</h3>
    <ul class="time-list">
      <li class="time-slot" *ngFor="let time of availableTimes" (click)="openModalConfirmationOrder(time)">
        {{ time }}
      </li>
    </ul>
  </div>

  <div *ngIf="availableTimes.length === 0 && selectedDate" class="no-times">
    <p>Nenhum horário disponível para a data selecionada.</p>
  </div>
</div>
