<div class="orders-container">
  <h2>Agendar Serviço</h2>

  <!-- Data -->
  <label for="date">Selecione a data:</label>
  <input
    type="date"
    id="date"
    [value]="todayString"
    (change)="onDateChange($event)"
    min="{{ todayString }}"
  />

  <!-- Horários Disponíveis -->
  <h3 *ngIf="availableSlots.length > 0">Horários Disponíveis:</h3>
  <p *ngIf="availableSlots.length === 0">Nenhum horário disponível.</p>

  <div *ngIf="availableSlots.length > 0" class="slots-container">
    <button
      *ngFor="let slot of availableSlots"
      (click)="openConfirmationModal(slot)"
      class="slot-button"
    >
      {{ slot }}
    </button>
  </div>
</div>
