<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Componente de dropdown do perfil -->
    <div class="profile position-relative" (click)="toggleDropdown()">
      <img src="/assets/FtPerfil.svg" alt="Foto de perfil" width="160" height="160" class="img-fluid rounded-circle">
      <div class="dropdown-menu" [class.show]="dropdownOpen">
        <button class="dropdown-item" (click)="goToEditProfile()">Editar Perfil</button>
        <button class="dropdown-item" (click)="goToFavorites()">Minhas Barbearias Favoritas</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="logout()">Sair</button>
      </div>
    </div>

    <!-- Logo -->
    <img src="/assets/Logo_barb.svg" class="img-fluid mx-auto d-block bg-holder" alt="Logo da barbearia" width="240" height="150" priority>

    <!-- Link para cadastrar barbearia -->
    <div class="position-absolute bottom-0 end-0 p-1">
      
    </div>
  </div>
</nav>
<div class="w-100 linhaBranca"></div>
