*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #028090;
  position: relative;
  padding: 5px 0; /* Ajusta o padding conforme necessário */
  height: 20%;
}

.title{
  color: #FFFFFF;
  font-size: 28px;
  padding: 3px;
}

.subtitle{
  color: #FFFFFF;
  font-size: 20px;
  padding: 3px;
}

span{
  font-size: 24px;
  font-weight: 500;
}

.modal-body {
  background-color: #05465F;
}

input{
  margin-left: 15px;
  margin-bottom: 8px;
  border-radius: 4px;
  width: auto;
}

input:focus{
  box-shadow: 0 0 0 0;
  outline: none;
  border: 0 none;
}

.cardService{
    flex: 1 1 170px;  // Flexibilidade e largura mínima de 200px
    max-width: 370px; // Define um limite de largura
    overflow: hidden;
    border-radius: 8px;
    margin-left: 15px;
    background-color: #FFFFFF;
    h3{
      font-size: 18px;
      font-weight: 400;
    }

    li{
      text-decoration: none;
      margin-left: 2px;
      font-size: 15px;
    }
  }

.btn{
  padding: 10px;
  margin: 5px;
  margin-left: 15px;
  background-color: #028090;
}
