<div class="modal-body">
  <div class="navbar">
    <div class="container-fluid d-flex justify-content-start p-3">
      <span>Editar Combos</span>
      <mat-icon class="hover ms-auto" (click)="closeModalComment()">close</mat-icon>
    </div>
  </div>

<form class="" [formGroup]="form" (ngSubmit)="saveCombo()">
  <div class="card p-3 m-2">
    <h3 class="subtitle">Valor:</h3>
    <input class="form-control" type="number" formControlName="price" placeholder="Preço do combo" />
    <div *ngIf="form.get('price')?.invalid && (form.get('price')?.touched || form.get('price')?.dirty)">
      <small *ngIf="form.get('price')?.errors?.['required']">Preço é obrigatório.</small>
    </div>
  </div>

  <div class="card p-3 m-2 cardService">
    <h3>Serviços no combo:</h3>
    <ul>
      <li *ngFor="let service of comboServices">
        {{ service.id }} - {{ service.duration }} minutos
      </li>
    </ul>
  </div>

  <div class="card p-3 m-2">
    <p class="subtitle">Duração Total :</p>
    <input class="form-control" type="number" formControlName="duration" placeholder="Duração total do combo" />
    <div *ngIf="form.get('duration')?.invalid && (form.get('duration')?.touched || form.get('duration')?.dirty)">
      <small *ngIf="form.get('duration')?.errors?.['required']">Duração é obrigatória.</small>
    </div>
  </div>

  <div class="button-group container-fluid d-flex flex-column align-items-center mb-2 w-100 p-2">
    <button class="btn btnOption cancel-button col-12 mb-2" type="button" (click)="close()">Cancelar</button>
    <button class="btn btnOption confirm-button col-12" type="submit" [disabled]="form.invalid">Salvar</button>
  </div>

</form>
