  <nav class="navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center p-3">
        <span class="fs-16">Filtro</span>
        <mat-icon class=" hover" (click)="closeModalFilter()">close</mat-icon>
    </div>
  </nav>

<div class="w-100 linhaBranca"></div>

    <div class="bgColor d-flex">
      <!-- BERSSANETTE VOCÊ BOTA QLQR COISA DO FILTRO AQUI!!! DENTRO DESSA DIV-->

    </div>
    
  <div class="areaBtn">
    <button class="btn btnFilter hover">Aplicar Filtro</button>
  </div>
