.navbar {
  background-color: #D9D9D9;
  position: relative;
  padding: 5px 0;
  height: 15%;
}

span {
  font-size: 24px;
  font-weight: 500;
}

.bgColor {
  background-color: #D9D9D9;
  height: 85%;
  z-index: 1000;
  max-height: 610px;
  overflow-y: auto;
}

.areaBtn {
  border: none !important;
  box-shadow: none !important;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.btnFilter {
  background-color: #04B05D;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.btnFilter:hover {
  background-color: #026778;
}

.btnFilter:focus {
  outline: none;
  box-shadow: none;
}

.form-select{
  background-color: #007381;
  color: #FFFFFF;
}

.form-control:focus,
.form-select:focus {
  outline: none;
  border: 1px solid #026778;
  box-shadow: none;
}

.form-check-input {
  margin-right: 5px;
  outline: none;
  box-shadow: none;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

select{
  background-color: var(--input-color)
}

select, .form-control, .form-control-lg{
border: none;
outline: none;
box-shadow: none;
background-color:  #007381;
}

mat-icon{
  color: red;
}

.card{
  background-color: #028090;
  border: transparent;
}

.form-label, .form-check-label{
  color: #FFFFFF;
}
