<div class="areaModal">
  <div class="navbar">
    <div class="container-fluid d-flex justify-content-start p-3">
      <span>Cadastrar Serviço</span>
      <mat-icon class="hover ms-auto" (click)="onCancel()">close</mat-icon>
    </div>
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="service-form">
      <div class="card p-3 m-2">
        <label>Serviços</label>
        <select formControlName="service" class="form-select">
          <option value="" disabled>Selecione um serviço</option>
          <option *ngFor="let service of filteredServices" [value]="service">
            {{ service }}
          </option>
        </select>
        <div class="text-danger error-message error" *ngIf="form.get('service')?.invalid && form.get('service')?.touched">
           Serviço é obrigatório.
        </div>
      </div>

      <div class="form-group card p-3 m-2">
        <label>Preço</label>
        <input type="text" formControlName="price" class="form-control " placeholder="Preço" />
        <div class="text-danger error-message error" *ngIf="form.get('price')?.invalid && form.get('price')?.touched">
          Preço é obrigatório.
        </div>
      </div>

      <div class="form-group card p-3 m-2">
        <label>Tempo</label>
        <input type="text" formControlName="duration" class="form-control " placeholder="Duração (minutos)" />
        <div class="text-danger error-message error" *ngIf="form.get('duration')?.invalid && form.get('duration')?.touched">
           Duração é obrigatória.
        </div>
      </div>

      <!--<div class="button-group d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2" [disabled]="form.invalid">Cadastrar Serviço</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
      </div>-->

      <div class="button-group container-fluid d-flex flex-column align-items-center mb-2 w-100">
        <button class="btn btnOption cancel-button col-12 mb-2" type="button" (click)="onCancel()">Cancelar</button>
        <button class="btn btnOption confirm-button col-12" type="submit" [disabled]="form.invalid">Cadastrar Serviço</button>
      </div>
    </form>
  </div>
</div>
