<app-header-admin></app-header-admin>
<div class="container-fluid">
  <div class="container">
    <div class="pt-3 title" >
      <h1>Bem vindo à barbearia</h1>
    </div>

  <div class="button-group">
    <button class="btnContent" [class.active]="selectedSection === 'dashboard'" (click)="showSection('dashboard')">Dashboard</button>
    <button class="btnContent" [class.active]="selectedSection === 'barbers'" (click)="showSection('barbers')">Gerenciar Barbeiros</button>
    <button class="btnContent" [class.active]="selectedSection === 'editProfile'" (click)="showSection('editProfile')">Editar Perfil</button>
  </div>

    <ng-container *ngIf="selectedSection === 'dashboard'">
      <app-dashboard [barbeariaId]="barbeariaId"></app-dashboard>
    </ng-container>

  <ng-container *ngIf="selectedSection === 'barbers'">
    <h1 class="title">Gerenciar Barbeiros</h1>
    <div class="m-3">
      <button class="service-button" (click)="openModalRegisterBarber()">Cadastrar Barbeiro</button>
    </div>

    <div *ngIf="barbeiros.length > 0; else noBarbers" class="service-combo-container">
      <div class="card-deck m-2">
        <div *ngFor="let barbeiro of barbeiros" class="card">
          <div class="card-body">
            <button class="float-end btnIcons" (click)="confirmDeleteBarbeiro(barbeiro)">
              <mat-icon>delete</mat-icon>
            </button>
            <p class="card-text"><strong>Nome:</strong> {{ barbeiro.nome }}</p>
            <p class="card-text"><strong>CPF:</strong> {{ barbeiro.cpf }}</p>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noBarbers>
      <p class="text-danger">Nenhum barbeiro cadastrado ainda.</p>
    </ng-template>
  </ng-container>


  <ng-container *ngIf="selectedSection === 'editProfile'">
    <h1 class="title">Editar Perfil</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Nome Fantasia</label>
        <input class="form-control form-control-lg fs-6" formControlName="nomeFantasia" placeholder="Nome Fantasia" />
        <div *ngIf="profileForm.get('nomeFantasia')?.invalid && profileForm.get('nomeFantasia')?.touched">
          <small class="text-danger">Nome Fantasia é obrigatório.</small>
        </div>
      </div>

      <div>
        <label>Razão Social</label>
        <input class="form-control form-control-lg fs-6" formControlName="razaoSocial" placeholder="Razão Social" />
        <div *ngIf="profileForm.get('razaoSocial')?.invalid && profileForm.get('razaoSocial')?.touched">
          <small class="text-danger">Razão Social é obrigatória.</small>
        </div>
      </div>

      <div>
        <label>Celular</label>
        <input class="form-control form-control-lg fs-6" formControlName="celular" placeholder="Celular" />
        <div *ngIf="profileForm.get('celular')?.invalid && profileForm.get('celular')?.touched">
          <small class="text-danger">Celular é obrigatório.</small>
        </div>
      </div>

      <div>
        <label>WhatsApp</label>
        <input class="form-control form-control-lg fs-6" formControlName="whats" placeholder="WhatsApp" />
        <div *ngIf="profileForm.get('whats')?.invalid && profileForm.get('whats')?.touched">
          <small class="text-danger">WhatsApp é obrigatório.</small>
        </div>
      </div>

      <div>
        <label>Email</label>
        <input class="form-control form-control-lg fs-6" formControlName="email" placeholder="Email" />
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
          <small class="text-danger">
            <span *ngIf="profileForm.get('email')?.errors?.['required']">Email é obrigatório.</span>
            <span *ngIf="profileForm.get('email')?.errors?.['email']">Email inválido.</span>
          </small>
        </div>
      </div>

      <div>
        <label>Telefone</label>
        <input class="form-control form-control-lg fs-6" formControlName="telefone" placeholder="Telefone" />
        <div *ngIf="profileForm.get('telefone')?.invalid && profileForm.get('telefone')?.touched">
          <small class="text-danger">Telefone é obrigatório.</small>
        </div>
      </div>

      <div>
        <label>Rua</label>
        <input class="form-control form-control-lg fs-6" formControlName="rua" placeholder="Rua" />
        <div *ngIf="profileForm.get('rua')?.invalid && profileForm.get('rua')?.touched">
          <small class="text-danger">Rua é obrigatória.</small>
        </div>
      </div>

      <div>
        <label>Número</label>
        <input class="form-control form-control-lg fs-6" formControlName="numero" placeholder="Número" />
        <div *ngIf="profileForm.get('numero')?.invalid && profileForm.get('numero')?.touched">
          <small class="text-danger">Número é obrigatório.</small>
        </div>
      </div>

      <!-- Redes Sociais -->
      <div>
        <label>Instagram</label>
        <input class="form-control form-control-lg fs-6" formControlName="instagram" placeholder="Instagram" />
        <div *ngIf="profileForm.get('instagram')?.invalid && profileForm.get('instagram')?.touched">
          <small class="text-danger">
            <span *ngIf="profileForm.get('instagram')?.errors?.['invalidInstagramUrl']">Instagram inválido.</span>
          </small>
        </div>
      </div>

      <div>
        <label>Facebook</label>
        <input class="form-control form-control-lg fs-6" formControlName="facebook" placeholder="Facebook" />
        <div *ngIf="profileForm.get('facebook')?.invalid && profileForm.get('facebook')?.touched">
          <small class="text-danger">
            <span *ngIf="profileForm.get('facebook')?.errors?.['invalidFacebookUrl']">Facebook inválido.</span>
          </small>
        </div>
      </div>

      <div>
        <label>Twitter</label>
        <input class="form-control form-control-lg fs-6" formControlName="twitter" placeholder="Twitter" />
        <div *ngIf="profileForm.get('twitter')?.invalid && profileForm.get('twitter')?.touched">
          <small class="text-danger">
            <span *ngIf="profileForm.get('twitter')?.errors?.['invalidTwitterUrl']">Twitter inválido.</span>
          </small>
        </div>
      </div>

      <div>
        <label>TikTok</label>
        <input class="form-control form-control-lg fs-6" formControlName="tiktok" placeholder="TikTok" />
        <div *ngIf="profileForm.get('tiktok')?.invalid && profileForm.get('tiktok')?.touched">
          <small class="text-danger">
            <span *ngIf="profileForm.get('tiktok')?.errors?.['invalidTiktokUrl']">TikTok inválido.</span>
          </small>
        </div>
      </div>

      <!-- Comodidades -->
      <div class="comodidades-container">
        <label>Comodidades</label>
        <mat-form-field appearance="fill">
          <mat-select formControlName="comodidades" multiple>
            <mat-option *ngFor="let comodidade of comodidadesList" [value]="comodidade">{{ comodidade }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="profileForm.get('comodidades')?.invalid && profileForm.get('comodidades')?.touched">
          <small class="text-danger">Comodidades é obrigatório.</small>
        </div>
      </div>

      <div class="containerInput mt-2">
        <div class="image-preview-container" (click)="fileInput.click()">
          <ng-container *ngIf="imagePreview; else placeholder">
            <img [src]="imagePreview" alt="Pré-visualização da imagem" class="image-preview" />
          </ng-container>
          <ng-template #placeholder>
            <span class="placeholder-text">Clique para adicionar uma imagem</span>
          </ng-template>
        </div>
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
      </div>


      <div class="button-group w-100 d-flex justify-content-center mb-2 mt-1 pb-3">
        <button type="submit" class="btnOption btn" [disabled]="profileForm.invalid">Salvar Alterações</button>
      </div>


    </form>
  </ng-container>

  </div>
</div>
