.container-fluid{
  width: 100%;
  min-height: 100vh;
  background-color: #05465F;
  padding: 0;
}

.title{
  color: #FFFFFF;
  font-size: 28px;
  padding: 3px;
}

.button-group {
  display: flex;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  padding: 3px;
  z-index: 1000;
}

.btnContent {
  border-radius: 15px;
  padding: 3px 15px;
  background-color: #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  flex-grow: 1;
  flex-shrink: 0;
  scroll-snap-align: center;
  margin-right: 8px;
}

.btnContent.active {
  background-color: #a9a9a9;
  color: #fff;
}

::-webkit-scrollbar { overflow-y:hidden; }

.button-group button:last-child {margin-right: 0;}

.service-button{
  background-color: #D9D9D9;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5px;

  &:hover {
    background-color: rgb(184, 184, 184);
  }
}


.service-combo-container {
  margin: 20px 0;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}

.card {
  flex: 1 1 250px; /* Largura mínima de 250px */
  max-width: 350px; /* Largura máxima para evitar que fique muito grande */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #FFFFFF;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
  position: relative;
  min-height: 120px;
}

.card-text {
  margin: 5px 0;
}

.btnIcons {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

