<div class="modal-container">
  <div class="navbar">
    <div class="container-fluid d-flex justify-content-start p-3">
      <span>Comentários</span>
      <mat-icon class="hover ms-auto" (click)="closeModalComment()">close</mat-icon>
    </div>
  </div>

  <hr class="linhaBranca">

  <div class="content">
    <div *ngFor="let comment of comments" class="comment-box">
      <h5 class="comment-header">
        {{ comment.userEmail }}
        <small class="text-muted">{{ comment.date.toDate() | date: 'short' }}</small>
      </h5>
      <p class="comment-text">{{ comment.comment }}</p>
      <button
        *ngIf="comment.userId === currentUser?.uid"
        class="btn btn-link text-danger delete-btn"
        (click)="confirmDeleteComment(comment.id)"
      >
        Deletar
      </button>
      <hr class="comment-separator">
    </div>
  </div>

  <div class="modal-footer" *ngIf="!userHasCommented">
    <form [formGroup]="form" class="w-100 d-flex align-items-center m-4">
      <input
        type="text"
        formControlName="comment"
        class="form-control"
        placeholder="Escreva um comentário"
      />
      <button
        type="button"
        class="btn send-btn mt-1 ms-1"
        (click)="submitComment()"
        [disabled]="form.invalid"
      >
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
