*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #028090;
  position: relative;
  padding: 5px 0; /* Ajusta o padding conforme necessário */
  height: 20%;
}

span{
  font-size: 24px;
  font-weight: 500;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}

.modal-body {
  background-color: #05465F;
  padding-bottom: 60px;
}

.comment-box {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.55);
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background-color: #05465F;
  height: 10px;
}

input, mat-icon{
  margin-bottom: 20px;
}

input,
textarea,
.form-control {
  border: 0;
  outline: none;

  &:focus {
    box-shadow: none;
    outline: none;
    border: 0;
  }
}

.btn{
  border: 0 none;
  outline: none;
}
