<div class="modal-header">
  <h5 class="modal-title">Recuperar Senha</h5>
</div>
<div class="modal-body">
  <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Digite seu e-mail</label>
      <input type="email" id="email" class="form-control" formControlName="email" />
      <div *ngIf="recoveryForm.get('email')?.errors?.['required']" class="text-danger">
        O e-mail é obrigatório.
      </div>
      <div *ngIf="recoveryForm.get('email')?.errors?.['email']" class="text-danger">
        Insira um e-mail válido.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="recoveryForm.invalid">Enviar</button>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="onClose()">Fechar</button>
</div>
