.navbar {
  background-color: #028090;
  position: relative;
  padding: 5px 0;
  height: 20%;
}

form, .areaModal{
  background-color: #05465F;
  min-height: 39vh;
}


.form-control, select {
  width: 94%;
  margin: 0 auto;
  margin-top: 8px;
}

input:focus, select:focus, button:focus{
  box-shadow: 0 0 0 0;
  outline: none;
  border: 0 none;
}

.title{
  font-size: 20px;
  font-weight: 500;
}

.button-group {
  width: 100%;
  padding-top: 3px;
  margin-bottom: 0.3rem;
  padding-bottom: 3px;
}

.btnOption {
  background-color: #028090;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  border: none;
  width: 100%; /* Adicionado para ocupar toda a largura */
}

.subtitle{
  font-size: 16px;
  color: #FFFFFF;
}
