<div class="areaModal">
  <div class="navbar">
    <div class="d-flex justify-content-start container-fluid p-1">
      <span class="title ps-2">Esqueceu sua senha?</span>
      <mat-icon class="hover ms-auto" (click)="onClose()">close</mat-icon>
    </div>
  </div>
<div class="modal-body">
  <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label ms-3 subtitle">Insira o endereço de e-mail associado à sua conta e verifique a sua caixa de entrada.</label>
      <!--<span class="title-email ms-2">Digite seu e-mail</span>-->
      <div class="card p-3 m-2">
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="nome@gmail.com"/>
      </div>
      <div *ngIf="recoveryForm.get('email')?.errors?.['required']" class="text-danger ms-3">
        O e-mail é obrigatório.
      </div>
      <div *ngIf="recoveryForm.get('email')?.errors?.['email']" class="text-danger ms-3">
        Insira um e-mail válido.
      </div>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center">
      <button class="btn btnOption m-2" type="submit" [disabled]="recoveryForm.invalid">Enviar</button>
    </div>

  </form>
</div>
</div>
