/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --primary-color: #05465F;
    --btn-color: #00A896;
    --btn-text-color: #FFFFFF;
    --input-color: #028090;
    --input-text-color: #FFFFFF;
}

body > app-root > app-register-barbearia > div > div.col-lg-6.col-md-12.order-md-2 > div > div > form > div > div.form-group > mat-form-field > div.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
  background-color: #05465F !important;
  
}
