*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.areaModal{
  width: 310px;
  background-color: #D9D9D9;
}

.navbar {
  background-color: #D9D9D9;
  position: relative;
  padding: 5px 0;
  height: 20%;
}

form, .areaModal{
  background-color: #D9D9D9;
  min-height: 39vh;
}

input{
  background-color: var(--input-color)
}

input, .form-control, .form-control-lg{
border: none;
outline: none;
box-shadow: none;
background-color:  var(--input-color, transparent);
}


.form-control {
  width: 94%;
  margin: 0 auto;
  margin-top: 8px;
  background-color: #007381;
}

.btnOption {
  background-color: #04B05D;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  border: none;
  width: 100%; /* Adicionado para ocupar toda a largura */
  color: #FFFFFF;
}

.title{
  font-size: 20px;
  font-weight: 500;
}

.card{
  background-color: #028090;
  border: transparent;
}


input::placeholder{
  color: #FFFFFF;
  font-size: 15px;
}

p{
  color: #FFFFFF;
}

input{
  caret-color: #fff;
}

mat-icon{
  color: red;
}
