*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #D9D9D9D9;
  position: relative;
  padding: 5px 0;
  height: 20%;
}

.title{
  color: #FFFFFF;
  font-size: 28px;
  padding: 3px;
}

.subtitle{
  color: #FFFFFF;
  font-size: 20px;
  padding: 3px;
}

span{
  font-size: 24px;
  font-weight: 500;
}

.modal-body {
  background-color: #D9D9D9D9;
}

input{
  color: #FFFFFF;
  caret-color: #FFFFFF;
}

input::placeholder{
  color: #FFFFFF;
}

input:focus{
  box-shadow: 0 0 0 0;
  outline: none;
  border: 0 none;
}


.btn{
  padding: 10px;
  margin: 5px;
  margin-left: 15px;
  background-color: #028090;
}

.card{
  background-color: #028090;
  border: transparent;
}

.form-control {
  background-color: #007381;
  color: #FFFFFF;
}

mat-icon{
  color: red;
}

.btnOption {
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  border: none;
}

.confirm-button {
  background-color: #28a745; /* Verde */
  color: white;
}

.cancel-button {
  background-color: #dc3545; /* Vermelho */
  color: white;
}

