<div class="modal-body">
  <div class="navbar">
    <div class="container-fluid d-flex justify-content-start p-3">
      <span>Editar Serviços</span>
      <mat-icon class="hover ms-auto" (click)="close()">close</mat-icon>
    </div>
  </div>

  <hr style="border: 1px solid white; width: 100%; ">

<form [formGroup]="form" (ngSubmit)="saveService()">
  <div>
    <h3 class="subtitle">Valor</h3>
    <input class="form-control" type="number" formControlName="price" placeholder="Preço" />
    <div *ngIf="form.get('price')?.invalid && (form.get('price')?.touched || form.get('price')?.dirty)">
      <small *ngIf="form.get('price')?.errors?.['required']">Preço é obrigatório.</small>
    </div>
  </div>

  <div>
    <h3 class="subtitle">Duração</h3>
    <input class="form-control" type="number" formControlName="duration" placeholder="Duração (minutos)" />
    <div *ngIf="form.get('duration')?.invalid && (form.get('duration')?.touched || form.get('duration')?.dirty)">
      <small *ngIf="form.get('duration')?.errors?.['required']">Duração é obrigatória.</small>
    </div>
  </div>

  <div>
    <button class="btn" type="submit" [disabled]="form.invalid">Salvar</button>
    <button class="btn" type="button" (click)="close()">Cancelar</button>
  </div>
</form>
</div>
